<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="">click EAT</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/']">Home
        </a>
      </li>
      <li *ngIf="getAuthProperty().isLoggedIn()" class="nav-item " [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/profile']">profile
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!getAuthProperty().isLoggedIn()" class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/login']">Login
        </a>
      </li>
      <li *ngIf="!getAuthProperty().isLoggedIn()" class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/register']">register
        </a>
      </li>
      <li *ngIf="getAuthProperty().isLoggedIn()" class="nav-item ">
        <a class="nav-link" href="#" (click)='onLogout()'>logout
        </a>
      </li>
    </ul>
  </div>
</nav>