<a (click)="onSelect()">
  <div class="card">
    <div class="d-block user-selct-none img"
      style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url({{restaurantDetails?.photo}});">
    </div>
    <div class="card-body">
      <h4 class="card-title">{{restaurantDetails.name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{restaurantDetails.email}}</h6>
      <p class="card-text">{{restaurantDetails.details}}</p>
      <span *ngFor="let service of restaurantDetails.services"
        class="badge badge-pill badge-dark mr-1 mb-2">{{service}}</span>
    </div>
  </div>
</a>